body{
 background-color:#596275;
}

h1{
 color: #489316;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}

button{
background-color: #303952;
color: #489316;
border-color: #303952;
font-weight :bold;
height:40px;
width:40px;
font-size: 15pt;
}

button:hover{
  filter: drop-shadow(2px 2px 2px #489316);
}

#boxdecalc{
 background-color:  #303952;
 border-color: #489316;
 padding-left: 20px;
 padding-right: 10px;
 filter: drop-shadow(10px 10px 10px #303952);
 color: #FFF;
 height:40px;
 width: 150px;
 font-family: Arial, Helvetica, sans-serif;
}

